
body{
    font-family: Drugs;
}

/*///////////////////////////FORGET PASSWORD PAGE////////////////////////// */

h1{
    position: relative;
    font-size: 40px;
    left: 20%;
    top: 150px;
    color: #000000;
}

.email{
    position: relative;
    width:40px;
    left: 20%;
    top: 180px;
    font-size: 20px;
    color: #000000;
}

.emailcaixa{
    position: relative;
    width: 300px;
    height: 27px;
    left: 22%;
    top: 180px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.btnRecPass{
    position: absolute;
    left: 40%;
    top: 340px;
    border: none;
    background: #FFFFFF;
    font-family: Drugs;
    font-size: 16px;
    color: #000000;
}
.btnRecPass:hover {
    color: #65909E;
}


/*/////////////////MENU//////////////////////////////////////////*/



header{
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
    background: #65909E;
}

.logobranco{
    position: fixed;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 10px;

}

.menu {
    width: 80%;
    float: right;
    position: relative;
    right:5%;

}

header ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: right;
}


header ul li a {
    text-decoration: none;
    color: white;
    font-size:20px;

}

header li {
    display: inline-block;
    width: 150px;
}

header ul li a:hover {
    font-weight:bolder;

}

#LogOut{
    font-family: Drugs;
    border: none;
    background-color: transparent;
    color: white;
    font-size:20px;
}


#LogOut:hover {
    font-weight:bolder;

}

/*//////////////////////////////DADOS////////////////////////////////////////*/
.dadosesq{
    position: relative;
    float: left;
    width: 50%;
    margin: 0 0 ;
    top:150px;
}

.dadosdir{
    position: relative;
    float: left;
    width: 50%;
    margin: 0 0;
    top:150px;

}


 #orcid, #foto, #filiacao, #unidade, #interesses{
    position: relative;
    width: 220px;
    height: 27px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    font-family: Drugs;
    margin: 10px 50px;
}


.dadosdir2{
    position: relative;
    float: left;
    width: 60%;
    margin: 0 0;

}

.dadosesq2{
    position: relative;
    float: left;
    width: 40%;
    margin: 0 0;
}

.dadosdir3{
    position: relative;
    float: left;
    width: 80%;
    margin: 0 0;

}

.dadosesq3{
    position: relative;
    float: left;
    width: 20%;
    margin: 0 0;
}

.text{
    margin-left: 100px;
    margin-top: 22px;
}

.text2{
    margin-top: 22px;

}


#Save{
    background-color: transparent;
    border: none;
    font-size: 22px;
    font-family: Drugs;
    margin-top:10px;
    margin-left: 33%;
}

#Save:hover{
    color: #65909E;

}



/*///////////////PAGINA INICIAL///////////////////////////////////*/




/*///////////////FEED///////////////////////////////////*/

#title{
    font-size: 30px;
}

.noticia{
    position: relative;
    top:100px;
    float:left;
    width: 50%;
    left:10%;
}

#author{
    font-size: 13px;

}

#link{
    font-size: 13px;
    color: black;
}

#link:hover{
    font-weight: bold;
}





/*//////////////////////log in/////////////////////////*/
.pass{
    position: absolute;
    left: 20%;
    top: 332px;
    font-size: 20px;
    color: #000000;
    margin: 0 0;

}

#email{
    position: relative;
    width: 300px;
    height: 27px;
    left: 22%;
    top: 180px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#password{
    position: relative;
    width: 300px;
    height: 27px;
    left:0%;
    top: 230px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#BLogin{
    position: absolute;
    width: 200px;
    left: 40%;
    top: 430px;
    border: none;
    background: #FFFFFF;
    font-family: Drugs;
    font-size: 22px;
    color: #000000;
}

#BLogin:hover{
    color: #65909E;
    font-weight: bolder;
}

#BRecPass{
    position: absolute;
    width: 200px;
    left: 40%;
    top: 365px;
    border: none;
    background: #FFFFFF;
    font-family: Drugs;
    font-size: 14px;
    color: #000000;
}

#BRecPass:hover{
    color: #65909E;
}



