
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */


/*==============================================
    BASIC  STYLES    
    =============================================*/
body {
    font-family: Drugs;
    line-height:25px;
}
#title{
    font-size: 30px;
}
#logOut{
    background-color: transparent;
    border: none;
}

#wrapper {
    width: 100%;
    background: #66909E;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background: #F3F3F3;
}

#page-inner {
    width: 98%;
    margin: 30px 10px 10px 10px;
    background-color: #fff!important;
    padding: 10px;
    min-height: 1200px;
}

.page-head-line {
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    padding-bottom: 20px;
    border-bottom: 2px solid #00CA79;
    margin-bottom: 10px;
}

.page-subhead-line {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-style:italic;
    margin-bottom:30px;
    border-bottom:1px dashed #00CA79;

}
.noticia h1{
    margin-left: 5%;
    padding-bottom: 10px;
    border-bottom: 2px solid #66909E;
    width: 89%
}
.post{
    text-align: left;
    margin-top: -55px;
    margin-right: 120px;
    font-size: 26px;
    color: #66909E;
    width: 150px;
    float: right;
    background-color: transparent;
    border: none;
}

.name{
    margin-top: -50px;
    margin-right: 60px;
}


/*==============================================
    MENU STYLES    
    =============================================*/


.navbar-cls-top .navbar-brand {
    color: #fff;
    background: #202020;
    width: 260px;
    text-align: center;
    height: 75px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 25px;
    text-transform:uppercase;
}

.header-right {
    color: #fff;
    padding: 15px 50px 5px 50px;
    float: right;
    font-size: 16px;
}

.navbar-cls-top .navbar-brand:hover {
    background: #202020;
    color: #fff;
}

.user-img-div {
    min-height: 140px;
    padding: 20px;
    background-color: white;
}

    .user-img-div img {
        max-height: 60px;
    }

    .user-img-div  {        
        position: relative;   
    }

.inner-text {
    text-align: center;
    margin-top: -65px;
    color: black;
    padding-left: 20px;
}
.user-img-top {
    min-height: 140px;
    padding: 20px;
    background-color: white;
}

    .user-img-top img {
        max-height: 110px;
        
        
    }

    .user-img-top  {        
        position: relative;
        border-bottom: 2px solid #66909E; 
        width: 89%;
        margin-left: 50px;
    }

.user-img-top h1{
    
    text-align: left;
    color: black;
    font-size: 30px;
    margin-top: -100px;
    margin-left: 120px;
    margin-right: 50px;
    font-weight: bold;
}
.user-img-top h2{
    text-align: left;
    color: black;
    font-size: 30px;
    margin-top: -10px;
    margin-left: 120px;
    margin-right: 50px;
    font-weight: bold;
}
.perfil{
    margin-top:-40px;
}

.perfil h1{
    padding-top: 20px;
    margin-left: 50px;
    font-weight:bold;
    font-size: 30px;
    
}


.active-menu {
    background-color: #00CA79!important;
}
.active-menu-top {
    background-color: #000!important;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 55px;
    }

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}

    .sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #fff;
            background: #66909E;
            text-shadow: none;
            padding: 15px 40px;
            border-bottom: 1px solid #fff;
            font-size:18px;
        }

    .sidebar-collapse > .nav > li > a {
        padding: 15px 10px;
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        background: #0A0A0A;
        outline: 0;
    }



.nav-second-level > li:last-child > a:after,
.nav-third-level > li:last-child > a:after {
    height: 50%;
}

.nav-third-level > li > a:after,
.nav-third-level > li > a:before {
    left: 40px;
}

.navbar-side {
    border: none;
    background-color: #202020;
}

.navbar-cls-top {
    background: #66909E;
    border-bottom: none;
}


.navbar-default {
    border: 0px solid black;
}

.navbar-header {
    background: #66909E;
    padding: 10px;
    
}
.navbar-header h1{
    
    padding-right: 30px;
    color: white;
    display: none;
    
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #00CA79;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #FFF;
    }

.nav > li > a > i {
    margin-right: 10px;
}
/*==============================================
    FOOTER  STYLES    
    =============================================*/
#footer-sec {
    background-color:#000;
    padding:20px 50px;
    color:#fff;
    font-size:12px;
}

    #footer-sec a {
        color:#fff;
    }
    #footer-sec a:hover,a:focus {
        color:#fff;
        text-decoration:none;
    }
.contain{
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 5%;
    background-color:#f1f1f1;
    width: 89%;
    height: 190px;
    border-radius: 16px;
    border-color: coral;
    border-style: solid;
}
.containR{
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 5%;
    background-color:#f1f1f1;
    width: 89%;
    height: 100px;
    border-radius: 16px;
    
    
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/

@media (min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
    }


    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

    .navbar {
        border-radius: 0px;
    }
    .navbar-header {
    transition-delay: 2s;
    float: right;
    
    
}
    .navbar-header h1 {
    float: left;
    display: block;
}
}
/*==============================================================
    POP UP
====================================================*/
/* Popup container */
.modal-container{
    position: fixed;
    background-color: white;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 400px;
    -webkit-transform: translate(-50%,-200%);
    transform: translate(-50%,-200%);
    -ms-transform: translate(-50%,-200%);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;

}

.modal:before{
    content: "";
    position: fixed;
    display:none;
    background-color: rgba(0,0,0,.8);
    top:0;
    left:0;
    height: 100%;
    width: 100%;
}
.modal:target .modal-container{
    top:20%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
}
.modal:target:before{
    display: block;
}
#modal-close{}
.form-modal{
    font-size: 20px;

}

.modal-field{
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    border-style: ridge;
    float:right;
    width: 400px;

}
.modal-field2{
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    border-style: ridge;
    float:right;
    width: 200px;
    margin-bottom: 9px;
    margin-right: 200px;

}

.dn{
    margin-bottom: 5px;
    margin-top: 15px;
}
.botao{
    text-align: center;
    display:inline ;

}
.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    margin-top:-75px;
    horiz-align: center;
    margin-right: -200px;
    border-left: 1px solid black;
    border-radius: 0;

}
.btn-info2 {
    background-color: transparent;

}
.btn-lg2 {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;

}

.btn2:hover{
    color:#66909E;
}
.icon {
    position: relative;
    width:26px;
    height:26px;
    margin: 16px;
}
.icon-plus {
    background-color: #66909E;
    border-radius:8px;
    -webkit-border-radius:32px;
    -moz-border-radius:8px;
    width: 52px;
    height: 52px;
    position: relative;
    top:0;
    left:0;
    float: right;
    margin-right: 90px;
    margin-top: -70px;
}
.icon-plus:after {
    background-color: #fff;
    width: 32px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:25px;
    left: 12px;
    content:"";
}
.icon-plus:before {
    background-color: #fff;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:12px;
    left: 25px;
    content:"";
}

