

/*///////////////PAGINA INICIAL///////////////////////////////////*/

#logoinicial{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    top: 70px;
}

.vl{
    width:4px;
    float: left;
    background-color:#000;
    position:absolute;
    top:430px;
    height: 100px;
    left:50%;
    z-index: 1;
}


.blogin{
    float: left;
    position: relative;
    top: 150px;
    left: 30%;
    background-color: white;
    border: none;
}

.bsign{
    float: right;
    position: relative;
    right: 30%;
    top: 150px;
    background-color: white;
    border: none;
}

.text1{
    width: 192px;
    height: 36px;
    font-size: 30px;
}

.blogin:hover{
    text-decoration: underline;
}

.bsign:hover{
    text-decoration: underline;
}
/*//////////////////////////////////////////////////*/
